{% extends 'base.html' %}

{% block title %} SERVICES {% endblock %}

{% block content %}
    <h2>ABOUT US</h2>
<p>This is the services page</p>
    <p><span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda atque commodi dolores eos error illo incidunt itaque mollitia, nisi quaerat quam quas quo ratione sed similique voluptas. Natus, ullam.</span><span>A cumque dicta dignissimos fugiat inventore, ipsa itaque maiores, mollitia nemo officia omnis perferendis quaerat quam qui quibusdam quidem recusandae rem repudiandae voluptatibus voluptatum. Ad aperiam doloremque facilis omnis. Facilis.</span></span></p>
{% endblock %}